.e-shop{
  /* text-align: center; */
  background-color: rgb(235, 230, 230);
  min-height: 100vh;
}
.articles{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.titre{
  text-align: center;
  color: rgb(91, 202, 160);
}
.titre2{
  color: rgb(15, 15, 15);
  opacity: 0.8;
  margin: 20px 25px;
}